<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
    <script src="./element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="./element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-row class="demo-autocomplete" type="flex" justify="space-around">
        <el-autocomplete
                class="inline-input"
                v-model="state2"
                :fetch-suggestions="querySearch"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @select="handleSelect"
        ></el-autocomplete>
    </el-row>
    <el-row type="flex" justify="space-around">
        <el-button type="primary" @click="onSubmit">查询</el-button>
    </el-row>
    <el-row type="flex" justify="space-around">
        <div style="color: #67C23A">{{res1}}</div>
    </el-row>
    <el-row class="demo-autocomplete" type="flex" justify="space-around">
        <el-autocomplete
                class="inline-input"
                v-model="state3"
                :fetch-suggestions="querySearch"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @select="handleSelect"
        ></el-autocomplete>
    </el-row>
    <el-row type="flex" justify="space-around">
        <el-button type="primary" @click="onSubmit2">查询</el-button>
    </el-row>
    <el-row type="flex" justify="space-around">
        <div style="color: #67C23A">{{res2}}</div>
    </el-row>
    <el-row class="demo-autocomplete" type="flex" justify="space-around">
        <el-autocomplete
                class="inline-input"
                v-model="state4"
                :fetch-suggestions="querySearch"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @select="handleSelect"
        ></el-autocomplete>
    </el-row>
    <el-row type="flex" justify="space-around">
        <el-button type="primary" @click="onSubmit3">查询</el-button>
    </el-row>
    <el-row type="flex" justify="space-around">
        <div style="color: #67C23A">{{res3}}</div>
    </el-row>
    <el-row class="demo-autocomplete" type="flex" justify="space-around">
        <el-autocomplete
                class="inline-input"
                v-model="state5"
                :fetch-suggestions="querySearch"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @select="handleSelect"
        ></el-autocomplete>
    </el-row>
    <el-row type="flex" justify="space-around">
        <el-button type="primary" @click="onSubmit4">查询</el-button>
    </el-row>
    <el-row type="flex" justify="space-around">
        <div style="color: #67C23A">{{res4}}</div>
    </el-row>
    <el-row class="demo-autocomplete" type="flex" justify="space-around">
        <el-autocomplete
                class="inline-input"
                v-model="state6"
                :fetch-suggestions="querySearch"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @select="handleSelect"
        ></el-autocomplete>
    </el-row>
    <el-row type="flex" justify="space-around">
        <el-button type="primary" @click="onSubmit5">查询</el-button>
    </el-row>
    <el-row type="flex" justify="space-around">
        <div style="color: #67C23A">{{res5}}</div>
    </el-row>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                form: {},
                restaurants: [],
                res1: '',
                res2: '',
                res3: '',
                res4: '',
                res5: '',
                state1: '',
                state2: '',
                state3: '',
                state4: '',
                state5: '',
                state6: '',
                wzryMap: new Map(),
                searchList: []
            };
        },
        methods: {
            querySearch(queryString, cb) {
                var restaurants = this.restaurants;
                var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (restaurant) => {
                    return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            loadAll() {
                return this.searchList;
            },
            handleSelect(item) {
                console.log(item);
            },
            onSubmit() {
                this.res1 = this.wzryMap.get(this.state2);
                console.log(this.res1);
            },
            onSubmit2() {
                this.res2 = this.wzryMap.get(this.state3);
                console.log(this.res2);
            },
            onSubmit3() {
                this.res3 = this.wzryMap.get(this.state4);
                console.log(this.res3);
            },
            onSubmit4() {
                this.res4 = this.wzryMap.get(this.state5);
                console.log(this.res4);
            },
            onSubmit5() {
                this.res5 = this.wzryMap.get(this.state6);
                console.log(this.res5);
            }
        },
        mounted() {
            var origin="典韦：艾琳，露娜，司空震\n" +
                "兰陵王：貂蝉，百里，鬼谷子\n" +
                "凯：阿轲，庄周，程咬金\n" +
                "孙悟空：虞姬，盘古，刘婵\n" +
                "刘备：凯，伽罗，娜可露露\n" +
                "韩信：海月，暃，诸葛亮\n" +
                "诸葛亮：司马懿，盾山，金蝉\n" +
                "阿珂：司马懿，百里玄策，鬼谷子\n" +
                "李白：海月，张良，达摩\n" +
                "镜：海月，嫦娥，扁鹊\n" +
                "赵云：澜，露娜，蒙犽\n" +
                "百里玄策：阿古朵，赵怀真，狄仁杰\n" +
                "宫本武藏：典韦，蒙奇，周瑜\n" +
                "司空震：司马懿，伽罗，盘古\n" +
                "娜可露露：孙悟空，阿古朵，李白\n" +
                "澜：嫦娥，干将莫邪，司空震\n" +
                "曜：扁鹊，露娜，金蝉\n" +
                "曹操：典韦，阿古朵，扁鹊\n" +
                "云缨：阿古朵，女娲，海诺\n" +
                "露娜：金蝉，公孙离，司马懿\n" +
                "裴擒虎：阿古朵，兰陵王，后羿\n" +
                "司马懿：盘古，苏烈，孙悟空\n" +
                "橘右京：亚瑟，戈娅，杨戬\n" +
                "李元芳：盾山，宫本武藏，程咬金\n" +
                "鲁班七号：刘备，嬴政，安琪拉\n" +
                "百里守约：米莱迪，墨子，扁鹊\n" +
                "后羿：牛魔，鲁班大师，盾山\n" +
                "马可波罗：瑶，公孙离，米莱迪\n" +
                "孙尚香：盾山，鲁班大师，亚瑟\n" +
                "黄忠：钟馗，马可波罗，鬼谷子\n" +
                "狄仁杰：蒙犽，诸葛亮，大乔\n" +
                "伽罗：兰陵王，阿轲，苏烈\n" +
                "虞姬：艾琳，诸葛亮，阿古朵\n" +
                "蒙犽：马可波罗，关羽，露娜\n" +
                "莱西奥：盾山，海月，兰陵王\n" +
                "戈娅：盾山，海月，宫本武藏\n" +
                "公孙离：张良，亚瑟，成吉思汗\n" +
                "艾琳：司马懿，梦琪，盾山\n" +
                "亚瑟：典韦，蔡文姬，吕布\n" +
                "李信：盾山，杨戬，金蝉\n" +
                "夏侯惇：吕布，西施，姜子牙\n" +
                "姬小满：嫦娥，白起，亚瑟\n" +
                "吕布：马超，李信，李白\n" +
                "孙策：庄周，猪八戒，露娜\n" +
                "芈月：司马懿，关羽，元歌\n" +
                "达摩：亚瑟，凯，典韦\n" +
                "项羽：猪八戒，白起，亚瑟\n" +
                "程咬金：宫本武藏，鬼谷子，白起\n" +
                "花木兰：海月，张良，不知火舞\n" +
                "廉颇：海诺，蒙犽，女娲\n" +
                "钟无艳：吕布，伽罗，雅典娜\n" +
                "狂铁：典韦，夏侯惇，亚瑟\n" +
                "亚连：马超，公孙离，元歌\n" +
                "夏洛特：白起，亚瑟，张良\n" +
                "关羽：海月，金蝉，姬小满\n" +
                "老夫子：盘古，夏侯惇，刘婵\n" +
                "马超：盘古，宫本武藏，嫦娥\n" +
                "元歌：海月，马超，武则天\n" +
                "白起：庄周，吕布，狄仁杰\n" +
                "猪八戒：亚连，吕布，貂蝉\n" +
                "刘邦：嫦娥，阿古朵，露娜\n" +
                "哪吒：嫦娥，司空震，裴擒虎\n" +
                "瑶：伽罗，阿古朵，盾山\n" +
                "东皇太一：哪吒，戈娅，莱西奥\n" +
                "庄周：海诺，艾琳，貂蝉\n" +
                "蔡文姬：盾山，鬼谷子，宫本武藏\n" +
                "朵莉亚：司马懿，西施，甄姬\n" +
                "钟馗：庄周，狄仁杰，阿古朵\n" +
                "盾山：周瑜，王昭君，鲁班七号\n" +
                "大乔：后羿，妲己，孙悟空\n" +
                "明世隐：钟馗，鬼谷子，鲁班大师\n" +
                "刘禅：庄周，狄仁杰，吕布\n" +
                "孙膑：盾山，老夫子，米莱迪\n" +
                "张飞：蒙犽，扁鹊，嫦娥\n" +
                "牛魔：阿古朵，貂蝉，吕布\n" +
                "鬼谷子：庄周，李元芳，司马懿\n" +
                "苏烈：庄周，猪八戒，武则天\n" +
                "太乙真人：嫦娥，阿古朵，鲁班七号\n" +
                "桑启：嫦娥，西施，白起\n" +
                "鲁班大师：庄周，狄仁杰，嫦娥\n" +
                "安琪拉：曜，马超，镜\n" +
                "妲己：盾山，蔡文姬，白起\n" +
                "甄姬：李白，亚连，云中君\n" +
                "小乔：蒙恬，金蝉，黄忠\n" +
                "墨子：盾山，亚瑟，云缨\n" +
                "米莱迪：高渐离，上官婉儿，姜子牙\n" +
                "貂蝉：盾山，张良，百里玄策\n" +
                "王昭君：庄周，典韦，安琪拉\n" +
                "姜子牙：上官婉儿，李白，元歌\n" +
                "张良：米莱迪，阿古朵，武则天\n" +
                "干将莫邪：盾山，关羽，公孙离\n" +
                "金蝉：嫦娥，老夫子，盘古\n" +
                "海诺：盾山，梦琪，芈月\n" +
                "上官婉儿：盾山，公孙离，嫦娥\n" +
                "西施：庄周，不知火舞，元歌\n" +
                "扁鹊：甄姬，钟馗，芈月\n" +
                "嬴政：蒙恬，马超，老夫子\n" +
                "海月：梦琪，伽罗，扁鹊\n" +
                "不知火舞：亚瑟，金蝉，嫦娥\n" +
                "周瑜：莱西奥，芈月，姜子牙\n" +
                "高渐离：王昭君，盘古，梦奇\n" +
                "女娲：公孙离，不知火舞，马超\n" +
                "奕星：阿古朵，沈梦溪，嫦娥\n" +
                "杨玉环：蒙恬，阿古朵，后羿\n" +
                "嫦娥：凯，后羿，甄姬\n" +
                "武则天：嫦娥，阿古朵，瑶";
            var split = origin.split("\n");
            for (let str of split) {
                var split1 = str.split("：");
                var name=split1[0];
                var value=split1[1];
                this.wzryMap.set(name,value);
                var currMap={"value":name};
                this.searchList.push(currMap);
            }
            this.restaurants = this.loadAll();
        }
    });
</script>
</html>